@keyframes move {
    from {
        top: 80%;
    }
    to {
        top: 1%;
    }
  }
  
  /* colocando animação na img */
  img {
    animation: 1s move;
  }

body{
    background-color: #e3ffe7;
    font-size: 100%;
}
/* #logo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
} */
img{
    
    width: 100px;
    height: 100px;
    padding-top: 10px;
    position: absolute;
    /* top: 100px; */
    left: 35%;
}
.imc {
    padding-top: 35%;
    
    width: 80%;
    padding-left: 8%;
    padding-right: 12%;
    display: flex;
    flex-direction: column;
    position: fixed;
}

span{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3.5vw;
}

h1 {
    font-size: 8.5vw;
    font-family: 'PT Sans Narrow', sans-serif;
    width: 100%;
    text-align: center;
    /* color: #8f8f8f; */
}

#titulo {
    padding-top: 5%;
}

#legenda {
    margin-top: 1px;
}

#altura, #peso {
    box-shadow: -1px 2px 0px rgba(0,0,0,0.2);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.875em;
    padding: 15px;
    /* border-style: inset; */
    border-width: 0px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffffff;
}

span{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.875em;
    width: 100%;
}

.btn {
    margin-top: 40px;
    border: 0ch;
    background-color: #67b637;
    width: 100%;
    font-size: 1.875em;
    padding: 15px;
    box-shadow: -1px 2px 0px rgba(0,0,0,0.2);
    font-family: 'PT Sans Narrow', sans-serif;
    border-radius: 5px;
}

@media only screen and (min-width: 600px)  {
    img{
        width: 100px;
        height: 100px;
        padding-top: 10px;
        position: absolute;
        /* top: 100px; */
        left: 50%;
        transform: translateX(-50px)
    }
    .imc {
        /* padding-top: 30px; */
        padding-top: 130px;
        width: 50%;
        padding-left: 25%;
        padding-right: 25%;
        display: flex;
        flex-direction: column;
    }
    
    h1 {
        font-size: 2em;
        width: 100%;
        text-align: center;
    }
    
    #titulo {
        
        padding-top: 20px;
        
    }
    
    #legenda {
        margin-top: 1px;
    }
    
    #altura, #peso {
        
        font-size: 1.875em;
        /* padding: 20px; */
        /* border-style: inset; */
        /* border-width: 1px; */
        margin-bottom: 10px;
        text-align: center;
        /* border-radius: 10px; */
    }
    
    .btn {
        width: 100%;
        font-size: 1.875em;
        /* padding: 20px; */
        /* border-radius: 10px; */
    }


}