body{
    background-color: #bebebe;
    font-size: 100%;
}
.imc {
    padding-top: 5%;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    position: fixed;
}

h1 {
    font-size: 8.5vw;
    font-family: 'PT Sans Narrow', sans-serif;
    width: 100%;
    text-align: center;
}

#titulo {
    padding-top: 5%;
}

#legenda {
    margin-top: 1px;
}

#altura, #peso {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.875em;
    padding: 30px;
    border-style: inset;
    border-width: 1px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

.btn {
    background-color: #868686;
    width: 100%;
    font-size: 1.875em;
    padding: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
    border-radius: 10px;
}

@media only screen and (min-width: 600px)  {
    .imc {
        padding-top: 30px;
        width: 50%;
        padding-left: 25%;
        padding-right: 25%;
        display: flex;
        flex-direction: column;
    }
    
    h1 {
        font-size: 2em;
        width: 100%;
        text-align: center;
    }
    
    #titulo {
        
        padding-top: 20px;
        
    }
    
    #legenda {
        margin-top: 1px;
    }
    
    #altura, #peso {
        
        font-size: 1.875em;
        padding: 30px;
        border-style: inset;
        border-width: 1px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 10px;
    }
    
    .btn {
        width: 100%;
        font-size: 1.875em;
        padding: 30px;
        border-radius: 10px;
    }


}